html, body{
    height: 100%;
    width: 100%;
    font: 100% sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#playground{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    top: 0%;
}

#game{
    /* background-color: black; */
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

#image{
    padding-left: 5vw;
    padding-top: 2vh;
    width: 25%;
}

#tombola{
    width: 17vw;
    height: 30vh;
}

#controller{
    height: 70%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#number{
    width: 6vw;
    height: 6vh;
    font-size: 3.5vh;
    text-align: center;
}

#selector{
    width: 4vw;
    height: vh;
}
#table{
    padding-top: 4vh;
    padding-left: 3vw;
    padding-right: 3vw;
    width: 45%;
    display:block;
    overflow-y:auto;
    height: 48.5vh;
}

#table table tbody tr td{
    width: 4vw;
    height: 3.7vh;
}

#spacer{
    width: 5vw;
}

#divider{
    background-color: gray;
    height: 0.3vh;
    width: 100%;
}


#cardboards{
    height: 50vh;
    width: 100%;
}

.chekbox{
    position: fixed;
    top: 2%;
    right: 1vw;
}

#check{
    visibility: hidden;
}

#check:checked ~ .chat{
    right:0vw;
}

.chekbox label{
    font-size: 1.2vw;
    
    cursor: pointer;
}

#chat{
    height: 92%;
    top: 7%;
    width: 25vw;
    padding: 0.5%;
    position: fixed;
    right: -26vw;
    border-radius: 25px 0px 0px 25px;
    border: 1px solid black;
    transition: 700ms;
}

nav{
    background-color: white;
}

.content{
    height: 78.7vh;
}

.content p{
    width: 100%;
    border-radius: 25px;    
    padding-left: 2%;
    padding-right: 2%;
    border: 1px solid lightslategray;
    margin-top: 2%;
    padding-left: 2%;
    word-break: break-all;
    line-height: 30px;
}

.sender{
    height: 10vh;
    display:flex;
    flex-direction: row;
    border-radius: 25px;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    padding: 5%;
}

#btn-send{
    /* padding-left: 1%; */
    display:flex;
    border-radius: 25px;
    width: 5vw;
    align-items: center;
    justify-content: center;
}

#write-space{
    border-radius: 15px;
    padding-left: 2%;
    padding-right: 2%;
}