html, body{
    height: 100%;
    width: 100%;
    font: 100% sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-all{
    border: 1px solid black;
    width: 20vw;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container-all form input{
    width: 100%;
}

#btn-getin{
    width: 100%;
    margin-top: 25%;
}

#anchor{
    text-decoration: none;
    color: black;
}
