<div class="container-login100" *ngIf="showFormLogin">
    <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
        <form class="login100-form validate-form flex-sb flex-w" [formGroup]="userForm" (ngSubmit)="setNumberCards(userForm.value)">
            <span *ngIf="userForm.get('cards').hasError('required') && userForm.get('cards').touched">Insert numeric characters</span>
            <div class="wrap-input100 validate-input m-b-36">
                <input class="input100" type="number" formControlName="cards" placeholder="How many cards do you want?" required>
                <span class="focus-input100"></span>
            </div>

            <div class="container-login100-form-btn">
                <button  type="submit" class="login100-form-btn">
                    Enter To Room
                </button>
            </div>
        </form>
    </div>
</div>

<div>
    <p>Users Online: {{usersOnline}}</p>
</div>

<div id="game" >
    <div id="image">
        <img id="tombola" src="https://jpsenlinea.com/assets/tombola2.gif">
    </div>
    <div id="controller">
        <input type="submit" value="Get new number" id="selector" (click)="getNewNumber()">
        <div id="spacer"></div>
        <input id="number" type="text" disabled value="{{number}}">
        <div id="spacer"></div>
    </div>
    <div id="table">
        <table class="table table-hover table-striped responsive-table">
            <thead>
                <th colspan="10">Selected numbers</th>
            </thead>
            <tbody>
                <tr *ngFor="let lists of list">
                    <td><p class="list-item">{{lists}}</p></td>
                   
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr>
<div id="cardboards">
    <div id="cardboard" style="padding: 2%; background-color: lightgreen;">
        <table>
            <thead>
                <tr>
                    <th colspan="5" style="text-align: center; height: 7vh; font-size: 2.5vw; letter-spacing: 1.5vw; color: white; background-color: #a04000;">
                        -B I N G O-
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="number-container">
                    <td>
                        <input class="number" type="text" value="30" disabled>
                    </td>
                    <td>
                        <input class="number" type="text" value="30" disabled>
                    </td>
                    <td>
                        <input class="number" type="text" value="30" disabled>
                    </td>
                    <td>
                        <input class="number" type="text" value="30" disabled>
                    </td>
                    <td>
                        <input class="number" type="text" value="30" disabled>
                    </td>
                </tr>
                <tr class="number-container">
                    <td>
                        <input class="number" type="text" value="30" disabled>
                    </td>
                    <td>
                        <input class="number" type="text" value="30" disabled>
                    </td>
                    <td>
                        <input class="number" type="text" value="30" disabled>
                    </td>
                    <td>
                        <input class="number" type="text" value="30" disabled>
                    </td>
                    <td>
                        <input class="number" type="text" value="30" disabled>
                    </td>
                </tr>
                <tr class="number-container">
                    <td>
                        <input class="number" type="text" value="30" disabled>
                    </td>
                    <td>
                        <input class="number" type="text" value="30" disabled>
                    </td>
                    <td>
                        <input class="number" type="text" value="30" disabled>
                    </td>
                    <td>
                        <input class="number" type="text" value="30" disabled>
                    </td>
                    <td>
                        <input class="number" type="text" value="30" disabled>
                    </td>
                </tr>
                <tr class="number-container">
                    <td>
                        <input class="number" type="text" value="30" disabled>
                    </td>
                    <td>
                        <input class="number" type="text" value="30" disabled>
                    </td>
                    <td>
                        <input class="number" type="text" value="30" disabled>
                    </td>
                    <td>
                        <input class="number" type="text" value="30" disabled>
                    </td>
                    <td>
                        <input class="number" type="text" value="30" disabled>
                    </td>
                </tr>
                <tr class="number-container">
                    <td>
                        <input class="number" type="text" value="30" disabled>
                    </td>
                    <td>
                        <input class="number" type="text" value="30" disabled>
                    </td>
                    <td>
                        <input class="number" type="text" value="30" disabled>
                    </td>
                    <td>
                        <input class="number" type="text" value="30" disabled>
                    </td>
                    <td>
                        <input class="number" type="text" value="30" disabled>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>
