<div class="container-login100" *ngIf="showForm">
    <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
        <form class="login100-form validate-form flex-sb flex-w">

            <div class="wrap-input100 validate-input m-b-36" data-validate="Username is required">
                <input class="input100" type="text" name="username" placeholder="Insert your username!">
                <span class="focus-input100"></span>
            </div>
            <hr>
            <div class="wrap-input100 validate-input m-b-36" data-validate="Username is required">
                <input class="input100" type="number" name="username" placeholder="How many cards do you want?">
                <span class="focus-input100"></span>
            </div>

            <div class="container-login100-form-btn">
                <button class="login100-form-btn" (click)= "showForm = false">
                    Enter To Room
                </button>
            </div>

        </form>
    </div>
</div>


<p>Dentro del juego</p>

Tu nombre es {{loginToken}}